<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyys.quickapp.repository.mapper.SkuMapper">
    <sql id="sql_where">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="menuId != null">
                and menu_id = #{menuId,jdbcType=BIGINT}
            </if>
            <if test="skuNameLike != null">
                and sku_name like concat('%', #{skuNameLike}, '%')
            </if>
        </where>
    </sql>

    <select id="selectList" parameterType="com.qyys.quickapp.repository.condition.SkuQueryCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from dish_sku
        where
        <include refid="sql_where"/>
        order by sku_score desc, id desc
    </select>
</mapper>